<ion-view title="Login" id="page11" style="background-color:#ECEEE1;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/fVIpBd3uQja8jjWypElK_dd2edf20-c74f-407e-8e09-8cce22c24ede.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form8" class="list">
      <ion-list id="login-list7">
        <label class="item item-input" id="login-input15">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input16">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="page()" id="login-button10" class="button button-stable button-block">Entrar</a>
    </form>
    <a ui-sref="signup()" id="login-button12" class="button button-positive button-block">Criar conta</a>
    <form id="login-form9" class="list">
      <label class="item item-input" id="login-textarea3">
        <span class="input-label">Anuncio</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>