<ion-view title="Signup" id="page7" style="background-color:#ECEEE1;">
  <ion-content padding="true" class="has-header">
    <form id="signup-form5" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="signup-input10">
        <span class="input-label">Confirme a senha </span>
        <input type="password" placeholder="">
      </label>
      <button id="signup-button3" class="button button-stable button-block">Entre</button>
    </form>
    <div>
      <img src="img/TvQHSwSlR3qYjvYT9Vod_dd2edf20-c74f-407e-8e09-8cce22c24ede.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>